.gaming-link-item {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-right: 25px;
  margin-bottom: 15px;
  align-self: stretch;
}
